
body {
  background-image: url(images/base-css-images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

ul {
  margin: auto;
}

li {
  text-align: left;
}

p {
  text-align: center;
  font-size: 120%;
}

h1 {
  font-size: 600%;
}

h2 {
  font-size: 250%;
}

h3 {
  font-size: 200%
}

h4 {
  font-size: 120%;
}

a {
  color: rgb(44, 235, 101);
}

.topnav {
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid rgb(48, 156, 81);
  font-size: 150%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: sticky;
  top: 0;
}

.topnav a {
  float: left;
  color: rgb(70, 206, 111);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(48, 48, 48);
  color: rgb(0, 214, 196);
}

.topnav a.active {
  background-color: rgb(0, 59, 77);
  color: rgb(179, 255, 0);
}

.sidenav {
  border: 5px solid rgb(48, 156, 81);
  font-size: 150%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  padding-top: 60px;
  transition: 0, 5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(48, 156, 81);
  display: block;
  transition: 0, 3s;
}

.sidenav a:hover {
  color: rgb(0, 214, 196);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #000000;
}

.sidenav a {
  display: block;
  color: rgb(48, 156, 81);
  padding: 8px 16px;
  text-decoration: none;
  text-align: right;
}

#rcorners1 {
  border-radius: 25px;
  background-image: url(images/base-css-images/rcorners1.png);
  border: solid rgb(70, 206, 111);
  padding: 20px;
  margin: auto;
  font-size: 120%;
  width: 700px;
  height: auto;
  color: rgb(70, 206, 111);
}

#rcorners2 {
  border-radius: 25px;
  background-image: url(images/base-css-images/rcorners2.jpg);
  background-size: cover;
  border: solid rgb(0, 0, 0);
  padding: 20px;
  margin: auto;
  font-size: 150%;
  width: 500px;
  height: auto;
  color: rgb(0, 0, 0);
}

#rcorners3 {
  border-radius: 25px;
  background-image: url(images/base-css-images/rcorners1.png);
  background-size: cover;
  border: solid rgb(70, 206, 111);
  padding: 30px;
  margin: auto;
  font-size: 150%;
  width: 350px;
  height: auto;
  color: rgb(70, 206, 111);
}

.hobbies li {
  font-size: 120%;
}

.game-images img {
  width: 100px;
  height: auto;
  display: flex;
  margin: 10px;
}

.index-images img {
  width: 200px;
  height: auto;
  margin: 10px;
  margin-top: 0;
  display: inline-flex;
}

.meter {
  width: 100%;
  height: 35px;
  position: relative;
  background: rgb(0, 0, 0);
  border-radius: 25px;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(48, 156, 81);
  background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox-images-text {
  display: flex;
  position: relative;
}

.flexbox-images {
  height: 300px;
  width: 450px;
  border: solid #000000;
  margin: 10px;
  border-radius: 25px;
}

.blog-thumbnail-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 350%;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(70, 206, 111);
}

.flexbox-images-text:hover {
  filter: brightness(85%);
}